# Ignore Python virtual environment directories and files
venv/
.env/

# Ignore __pycache__ directories and .pyc files
__pycache__/
*.pyc

# Ignore pytest coverage files
.coverage
coverage.xml
htmlcov/
